{% extends "base.html" %}

{% block title %}About Project{% endblock %}

{% block content %}
<link rel="icon" href="static\home.png" type="image/x-icon">
<div style="padding: 20px; max-width: 800px; margin: 0 auto;">
    <h1>Про цей проект</h1>
    <p>
        Цей проект був створений для вивчення японської мови і пропонує такі функції:
    </p>
    <ul>
        <li>Японські субтитри для відео і пісень та самі пісні.</li>
        <li>Бібліотека книг де можно зручно читати та сканувати.</li>
        <li>Можна пограти в ширіторі з нашою моделю яка завжди покращується.</li>
        <li>Є можливість легко шукати субтитри та відео за допомогою пошуку</li>
    </ul>
    <p>
       Цей проект підримується його соучастниками які викладають та модерують контент.
    </p>
</div>
{% endblock %}
